@use "sass:math";
@use "../../../scss/util/variables" as *;
@use "../../../scss/util/functions" as *;

.header {
    background-color: $brand;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 40px;
    color: #fff;

    @media (min-width: 375px) {
        padding: 0 33px;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: pxToRem(18);
    font-weight: 600;
}